{% extends 'base.html.twig' %}

{% block title %}Modifier le cours{% endblock %}

{% block body %}
    <h1>Modifier le cours</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('course_index') }}">Revenir à la liste</a>
{% endblock %}
