{% extends 'base.html.twig' %}

{% block title %}Menu Principal{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue dans le {{ controller_name }} </h1>

    Tuto rapide:
    <ul>
        <li>Créer un compte (inscription)</li>
        <li>Créer un professeur</li>
        <li>Créer un cours en mettant le professeur créer</li>
        <li>Fin du tuto, bravo à vous !</li>
    </ul>
</div>
{% endblock %}
